
.list{
    padding: 10px 0;
}
.nat-light,
.nat-dark{
    display: flex;
    align-items: center;
    padding: var(--sm-pad);
    border-radius: 3px;
    margin-bottom: 3px;
}
.nat-light:hover{
    cursor: pointer;
    background-color: var(--lt-hover);
}
.nat-dark:hover{
    cursor: pointer;
    background-color: var(--dk-hover);
}
.active-light{
    background-color: var(--lt-active);
}
.active-dark{
    background-color: var(--dk-active);
}

.active-light:hover{
    background-color: var(--lt-active);
    cursor: default;
}
.active-dark:hover{
    background-color: var(--dk-active);
    cursor: default;
}
