.chart{
    padding: 10px;
    /* background-color: #eee; */
    border-radius: 0.5rem;
    box-shadow: 0px 0px 26px 0px rgba(34, 60, 80, 0.29);
}
.title-for{
    text-align: center;
    margin-bottom: 15px;
} 
.chart-item{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 0;
    color: #fff;

}
.chart-title{
    min-width: 140px;
    color: #000;
    text-align: right;
    padding-right: 10px;
    font-weight: 600;
}
.histogram{
    min-width: 30px;
    border-radius: 0 5px 5px 0;
    display: flex;
    border: 1px solid #bbb;
    border-left: 6px solid #bbb;
    padding: 10px 5px;
}
