.chart{
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 26px 0px rgba(34, 60, 80, 0.29);

}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
} 
.header > span{
    padding-left: 10px;
    font-weight: 700;
}
.chart-item{
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 5px 0;
    color: #fff;

}
.chart-title{
    flex: 2;
    min-width: 160px;
    color: #000;
    text-align: right;
    padding-right: 10px;
}
.hist-box{
    flex: 9;

}
.histogram{
    min-width: 30px;
    border-radius: 0 5px 5px 0;
    display: flex;
    border-left: 8px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    /* box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5); */

}
.range-box{
    min-width: 100%;
    padding: 10px;
}
.range{
    display: flex;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 26px 0px rgba(34, 60, 80, 0.29);

}
.range-men{
    padding: 5px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 3px solid rgba(0, 0, 0, 0.5);
}
.range-women{
    padding: 5px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 3px solid rgba(0, 0, 0, 0.5);

}