.chart-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 17, 16, 16, 0.5 );
    backdrop-filter: blur(7px);
    opacity: 1; 
    /* pointer-events: none;  */
    z-index: 10000;
}
.chart-box{
    width: 420px;
    height: 420px;
    border-radius: 50%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background: conic-gradient(red 36deg, orange 36deg 170deg, yellow 170deg); */
}
.inset-circle{
    background-color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* overflow: hidden; */

}