.footer-light,
.footer-dark{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 25px 15px 15px; /* 25px = 10px(scroll-bar) + 15px(padding)*/
    z-index: 2000;
    font-size: 0.8rem;
}
.footer-light{
    background-color: var(--lt-app);
}
.footer-dark{
    background-color: var(--dk-app);
}

.footer-box-light,
.footer-box-dark{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
}
.footer-box-light{
    background-color: var(--lt-all-box-bg);
    border-top: 1px solid var(--lt-active);
}
.footer-box-dark{
    background-color: var(--dk-all-box-bg);
    border-top: 1px solid var(--dk-user-hover);
}

@media (min-width: 576px) {
    .footer-light,
    .footer-dark{
        position: relative;
    }
    .footer-box-light,
    .footer-box-dark{
        flex-direction: row;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
}
