
.button-light,
.button-dark{
    display: flex;
    text-align: center;
    align-items: center;
    padding: var(--sm-pad);
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 3px;
}
.button-light:hover{
    background-color: var(--lt-hover);
}
.button-dark:hover{
    background-color: var(--dk-hover);
}
.active-light{
    background-color: var(--lt-active);
}
.active-dark{
    background-color: var(--dk-active);
}

.active-light:hover{
    background-color: var(--lt-active) ;
    cursor: not-allowed;
}
.active-dark:hover{
    background-color: var(--dk-active) ;
    cursor: not-allowed;
}
