.mobil-buttons-panel{
    position: fixed;
    top: 15px;
    right: 15px;
    background: rgba( 17, 16, 16, 0.5 );
    backdrop-filter: blur(7px);
    /* border-radius: 5px 0 0 5px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    visibility: visible;
    z-index: 10000;

    border-radius: 5px;
}
@media (min-width: 576px) {
    .mobil-buttons-panel{
        visibility: hidden;
        display: none;
    }
}
