.modal-header{
    display: flex;
    /* justify-content: space-between; */
    border: 1px solid blue;
}
.foto{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #bbb;
}
.col{
    padding: 9px 12px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.field{
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    border: 1px solid red;
}
.field:hover{
    background-color: #eee;
}
.name{
    letter-spacing: 1px;
}
.left-p{
    flex: 2;
    font-weight: 600;
    padding-left: 10px;
    border: 1px solid red;
}
.right-p{
    flex: 6;
    overflow: hidden;
    
}
#big-letter::first-letter{
    text-transform: uppercase;
}