.side-bar-light,
.side-bar-dark{
    position: fixed;
    top: 15px;
    right: -400px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 70px);
    padding: 15px;
    border-radius: 8px;
    transition: right 700ms linear;
    z-index: 1000;
    overflow-y: auto;
}
.side-bar-light{
    background-color: var(--lt-app);
    -webkit-box-shadow: var(--lt-box-shadow); 
    box-shadow: var(--lt-box-shadow);
}
.side-bar-dark{
    background-color: var(--dk-app);
    -webkit-box-shadow: var(--dk-box-shadow); 
    box-shadow: var(--dk-box-shadow);
}

.show{
    right: 15px;
    z-index: 2000;
}
.hide{
    right: -400px;
}
@media (min-width: 576px) {
    .side-bar-light,
    .side-bar-dark{
        position: relative;
        top: 0;
        right: 0;
        flex: 1;
        padding: 15px 7.5px 15px 15px;
        border-radius: 0px;
        -webkit-box-shadow: none; 
        box-shadow: none;
        max-height: calc(100vh - 30px);
    }
}
