.burger-box-light,
.burger-box-dark{
    position: fixed;
    /* margin-bottom: -40px; must be 40px how and height this block */
    top: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--lt-active);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 300ms linear;
}
.burger-box-light{
    background-color: var(--lt-active);
}
.burger-box-dark{
    background-color: var(--dk-active);
}
.burger-box-light:hover{
    background-color: var(--lt-hover);
}
.burger-box-dark:hover{
    background-color: var(--dk-hover);
}

.burger-light,
.burger-dark{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger-light{
    color: var(--lt-contr);
}
.burger-dark{
    color: var(--dk-contr);
}

@media (min-width: 576px) {
    .burger-box-light,
    .burger-box-dark{
        visibility: hidden;
        display: none;
    }
}
