@import '../reactor.scss';

.nationality{
    position: relative;
    text-align: center;
    .row{
        display: flex;
        justify-content: center;
    }
    .active{
        transition: all 300ms linear;
        color: $carrot;
        background-color: $body-light;
    }
    .not-active{
        transition: all 300ms linear;
        background-color: inherit;
    }

    .list{
        position: absolute;
        top: 60px;
        left: 0;
        opacity: 0;
        text-align: center;
        width: 200px;
        cursor: pointer;
        border-radius: 0.25rem;
        color: $text-1;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 0 16px rgba(0,0,0,0.4);
        li{
            list-style: none;
            line-height: 1rem;
            padding: 5px 10px;
            border-radius: 3px;
            border: 2px solid  transparent;
        }
        li:hover{
            color: $carrot;
            background-color: rgba(0,0,0,0.1);
        }
        li:first-child{
            color: $carrot; 
        }
    }
    .show{
        z-index: 100;
        animation: show-list 0.4s linear;
    }
    @keyframes show-list {
        0%{ opacity: 0;
            top: 60px;
        }
        100%{ opacity: 1;
            top: 40px;
        }
    }
    .hide{
        animation: hidden-list 0.8s linear;
    }
    @keyframes hidden-list {
        0%{
            opacity: 1;
            top: 40px;
        }
        100%{
            opacity: 0;
            top: 60px;
        }
    }
    
}
