.chart-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        & span{
            padding-left: 10px;
            font-weight: 700;
        }
    } 
}