.container{
    max-width: 1400px;
    background-color: #f1f3f4;
    position: relative;
}
.wrapper{
    /* width: 100%; */
    height: calc(100vh - 50px);
    display: flex;
    justify-content: space-between;
}
