/*    ===== CUSTOM SCROLLBAR =====    */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* ============================== */
.container-fluid-light{
    background-color: var(--lt-all-box-bg);
}
.container-fluid-dark{
    background-color: var(--dk-all-box-bg);
}
.app-light,
.app-dark{
    width: 100%;
    max-width: 1400px;
    position: relative;
    overflow: hidden;
}
.app-light{
    background-color: var(--lt-app);
}
.app-dark{
    background-color: var(--dk-app);
}
.icon-light{
    color: var(--lt-contr);
    margin-right: 0.5rem;
}
.icon-dark{
    color: var(--dk-contr);
    margin-right: 0.5rem;    
}

.lang-icon-light{
    color: var(--lt-contr);
    margin: 0;
}
.lang-icon-dark{
    color: var(--dk-contr);
    margin: 0;    
}

.box{
    display: flex;
    justify-content: space-between;
    position: relative;
    /* height: calc(100vh - 90px); 90px it is footer height 75px plus padding 15px */
    padding-bottom: 72px;
}

@media (min-width: 576px) {
    .box{
        height: calc(100vh - 65px); /* 65px it is footer height 50px plus padding 15px*/
        padding-bottom: 0;
    }
}
