.empty-list-light{
    background-color: var(--lt-all-box-bg);
    color: var(--lt-all-box-text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    border-radius: 8px;
}
.empty-list-dark{
    background-color: var(--dk-all-box-bg);
    color: var(--dk-all-box-text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    border-radius: 8px;
}

.massege{
    text-transform: uppercase;
    letter-spacing: 2px;
}