.empty-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.94); 
    box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.94);
}
.massage{
    text-transform: uppercase;
    color: darkblue;
}