.footer{
    padding: 0 15px;
    z-index: 1000;
}
.footer-wrapper{
    background-color: #fff;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--wrap-pad);
    border-radius: 8px;
}
