
.button{
    display: flex;
    text-align: center;
    align-items: center;
    padding: var(--sm-pad);
    cursor: pointer;
}
i{
    margin-right: 0.5rem;
    color: var(--text-carrot);
}

.active{
    background-color: var(--bg-active);
}
.active:hover{
    background-color: var(--bg-active) ;
    cursor: not-allowed;
}
.button:hover{
    background-color: var(--bg-hover);
}
