.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
    overflow-y: auto;
}

.main-title{
    display: flex;
    justify-content: center;
}
@media (min-width: 576px) {
    .main{
        flex: 2;
        padding: 15px 15px 0px 7.5px;
    }
}
@media (min-width: 768px) {
    .main{
        flex: 3;
    }
}
@media (min-width: 992px) {
    .main{
        flex: 4.5;
    }
}
