.main{
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: var(--wrap-pad);
    overflow-y: scroll;
}
.main-title{
    display: flex;
    justify-content: center;
    background-color: #eee;
}