.main{
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow-y: scroll;
    /* border: 1px solid red; */
}
.main-title{
    display: flex;
    justify-content: center;
}