
.list{
    color: var(--text-dark);
    padding: 10px 0;
}
.nat{
    display: flex;
    align-items: center;
    padding: var(--sm-pad);
    border-radius: 3px;
    margin-bottom: 3px;
}
.nat:hover{
    cursor: pointer;
    background-color: var(--bg-hover);
}

i{
    margin-right: 0.5rem;
    color: var(--text-carrot);
}
.active{
    background-color: var(--bg-active);
}
.active:hover{
    background-color: var(--bg-active);
    cursor: not-allowed;
}
