
.pages {
  display: flex;
  margin-bottom: 10px;
  /* justify-content: center; */
  /* border: 1px solid red; */
}
.num {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 6px;
  border: 1px solid var(--bg-hover);
  border-radius: 5px;
  font-weight: 800;
  margin: 0 5px;
  cursor: pointer;
}
.num:hover{
  background-color: var(--bg-hover);
}
.active{
  color: var(--text-carrot);
  background-color: var(--bg-active);
}
.arrow {
  font-size: 1.5rem;
  color: #212121;
}
.arrow:hover {
  color: var(--text-carrot);
  cursor: pointer;

}
.blocked-arrow {
  font-size: 1.5rem;
  color: var(--bg-active);
}
.blocked-arrow:hover {
  cursor: not-allowed;
}

@media (min-width: 576px) {
  .pages{
    margin-bottom: 0;
  }
}

