.side-bar-light,
.side-bar-dark{
    position: fixed;
    top: 15px;
    right: -400px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 30px);
    padding: 15px;
    border-radius: 8px;
    transition: right 700ms linear;
    z-index: 1000;
    overflow-y: auto;
}
.side-bar-light{
    background-color: var(--lt-app);
    -webkit-box-shadow: var(--lt-box-shadow); 
    box-shadow: var(--lt-box-shadow);
}
.side-bar-dark{
    background-color: var(--dk-app);
    -webkit-box-shadow: var(--dk-box-shadow); 
    box-shadow: var(--dk-box-shadow);
}

.show{
    right: 15px;
    z-index: 10000;
}
.hide{
    right: -400px;
}
/* .button-grop-light{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem;
    border-radius: 8px;
    background-color: var(--lt-all-box-bg);
    color: var(--lt-all-box-text);
    margin-bottom: 10px;
}
.button-grop-dark{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem;
    border-radius: 8px;
    background-color: var(--dk-all-box-bg);
    color: var(--dk-all-box-text);
    margin-bottom: 10px;
}

#top{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */
/* .title{
    text-align: center;
    margin-bottom: 10px;
} */
@media (min-width: 576px) {
    .side-bar-light,
    .side-bar-dark{
        position: relative;
        top: 0;
        right: 0;
        flex: 1;
        padding: 15px 7.5px 15px 15px;
        border-radius: 0px;
        -webkit-box-shadow: none; 
        box-shadow: none;
    }
}
