.side-bar{
    flex: 1;
    background-color: #fff;
    padding: var(--wrap-pad);
}
.side-bar-wrapper{

}
.button-grop{
    padding: var(--wrap-pad);
    margin: var(--y-gap);
    border-radius: var(--b-rad);
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.94); 
    box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.94);
    margin-bottom: 20px;
}
.title{
    text-align: center;
    margin-bottom: 10px;
}