.user-light,
.user-dark{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 8px;
    overflow: hidden;
    transition: all 300ms linear;
    padding: var(--wrap-pad);
    margin-bottom: var(--gap);
}
.user-light{
    background-color: var(--lt-all-box-bg);
    color: var(--lt-all-box-text)
}
.user-dark{
    background-color: var(--dk-all-box-bg);
    color: var(--dk-all-box-text)
}
.user-light:last-child,
.user-dark:last-child{
    margin-bottom: 0;
}
.user-light:hover{
    -webkit-box-shadow: var(--lt-box-shadow); 
    box-shadow: var(--lt-box-shadow);
}
.user-dark:hover{
    -webkit-box-shadow: var(--dk-box-shadow); 
    box-shadow: var(--dk-box-shadow);
}

.cell{
    padding-top: 5px; 
    padding-left: 15px; 
    margin-right: 5px;
}

/* ================ */
.pass{
width: 100%;    
display: flex;
}
.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo{
    width: 75px;
    height: 75px;
    border-radius:50%;
}
.info{
    height: 75px;
    display: flex;
    flex-direction: column;
}
/* ================== */
.contacts{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact-icon{
    color: var(--text-carrot);
}
.tel{
    display: flex;
    align-items: center;
}
.mail{
    display: flex;
    align-items: center;
}
/* ===================== */
.location{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
@media (min-width: 576px) {
    .user-box{
        padding-bottom: 0;
    }
    .user-light:last-child,
    .user-dark:last-child{
        margin-bottom: 10px;
    }
    .location{
        flex-direction: row;
        flex-wrap: wrap;
    }
} 

@media (min-width: 768px) {
    .contacts{
        flex-direction: row;
    }
} 
@media (min-width: 992px) {
    .user-light,
    .user-dark {
        flex-direction: row;
    }
    .pass{
        flex: 4;
    }
    .contacts{
        flex: 4;
        height: 75px;
        flex-direction: column;
        justify-content: space-around;
    }
    .location{
        flex: 4;
        flex-direction: column;
    }
} 
