
.pages {
  display: flex;
  margin-bottom: 10px;
}
.num-light,
.num-dark{
  width: 3ch;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 6px;
  border-radius: 5px;
  font-weight: 800;
  margin: 0 5px;
  cursor: pointer;
}
.num-light{
  border: 1px solid var(--lt-hover);
  color: var(--lt-all-box-text);
}
.num-dark{
  /* border: 1px solid var(--dk-hover); */
  color: var(--dk-all-box-text);
  border: 1px solid var(--dk-user-hover);

}
.num-light:hover{
  background-color: var(--lt-hover);
}
.num-dark:hover{
  background-color: var(--dk-user-hover);
}
.active-light{
  color: var(--lt-contr);
  background-color: var(--lt-active);
}
.active-dark{
  color: var(--dk-contr);
  background-color: var(--dk-active);
}

.arrow-light{
  font-size: 1.5rem;
  color: var(--lt-all-box-text);
}
.arrow-dark{
  font-size: 1.5rem;
  color: var(--dk-all-box-text);
}

.arrow-light:hover{
  color: var(--lt-contr);
  cursor: pointer;
}
.arrow-dark:hover{
  color: var(--dk-contr);
  cursor: pointer;
}

.blocked-arrow-light{
  font-size: 1.5rem;
  color: var(--lt-active);
}
.blocked-arrow-dark{
  font-size: 1.5rem;
  color: var(--dk-active);
}

@media (min-width: 576px) {
  .pages{
    margin-bottom: 0;
  }
}

