/* === THIS CODE MUST BE INCLUDEN IN PARENTE DIV CSS-CODE
.sizer-light:hover > .tool-tip{
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
} */
.tool-tip{
    position: absolute;
    top: -30px;
    left: 15px;
    padding: 5px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid var(--lt-active);
    white-space: nowrap;
    transform: translateY(2px);
    transform: scale(0.95);
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 600ms linear;
    color: var(--text-dark);
    font-weight: 500;
}

