.tooltip-wraper{
    position: relative;
}
.tooltip-wraper:hover > .tooltip{
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
}
.tooltip{
    position: absolute;
    top: -30px;
    right: 0;
    padding: 5px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid var(--lt-active);
    white-space: nowrap;
    transform: translateY(2px);
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 600ms linear;
    color: var(--text-dark);
    font-weight: 700;

    font-size: 1rem;
}